:root {
	--nav-menu_width   : 22.8vw;
	--description_width: 65.3vw;
}

html {
	font-family: Roboto, sans-serif;
	font-size  : 1px;
}

body {
	color   : #313628;
	height  : 100vh;
	margin  : 0;
	overflow: hidden;
	width   : 100vw;
}

.available-view {
	display    : none;
	font       : 3vw/100vh Verdana, Geneva, Tahoma, sans-serif;
	text-align : center;
	text-shadow: 0.2vw 0.2vw lightsteelblue;
	width      : 100vw;
}

.content {
	display: none;
}

.content_active {
	display: block;
}

.animated-section {
	transition: transform 0.7s ease-out;
}

.animated-section_from-left {
	left     : 0;
	transform: translateX(-100%);
}

.animated-section_from-right {
	right    : 0;
	transform: translateX(150%);
}

.animated-section_shifted {
	transform: translateX(0) !important;
}

.device-switcher__item_visible {
	display: block !important;
}

.device-switcher__item_active {
	opacity  : 1 !important;
	transform: scale(1.2);
}

.site-on-device_shifted {
	transform: translateX(100%);
}

.nav-menu__item_active {
	color: #895055;
}

.visibility-visible {
	visibility: visible !important;
}

.nav-menu,
.description,
.view-site {
	box-sizing   : border-box;
	height       : 100%;
	/* overflow  : hidden; */
	position     : absolute;
}

.nav-menu::after,
.description::after,
.contacts::before {
	content  : "";
	display  : block;
	height   : 200%;
	position : absolute;
	transform: rotate(6deg);
	width    : 200%;
	z-index  : -1;
}

.nav-menu {
	display           : flex;
	flex-direction    : column;
	gap               : 77rem;
	justify-content   : flex-start;
	padding-right     : 5.4%;
	padding           : 121rem 5.1% 0 2.3%;
	/* text-shadow    : 0.2vw 0.2vw lightsteelblue; */
	width             : var(--nav-menu_width);
	z-index           : 10;
}

.nav-menu::after {
	background-color: #9B9B7A;
	top             : -90%;
	right           : 3.7%;
}

.nav-menu__item {
	cursor        : pointer;
	display       : block;
	font-size     : 62rem;
	letter-spacing: 0.03em;
	overflow-wrap : break-word;
}

.description {
	padding       : 106rem 4.2% 0 23.1%;
	/* text-shadow: 0.2vw 0.2vw lightsteelblue; */
	width         : var(--description_width);
}

.description ul {
	font-size  : 30rem;
	line-height: 40rem;
	list-style : none;
	padding    : 0;
}

.description ul li {
	letter-spacing: 0.05em;
	margin-bottom : 36rem;
}

.description ul ul {
	margin-top: 33rem;
}

.description::after {
	background-color: #F1DCA7;
	top             : -90%;
	right           : 1.6%;
}

body.phone .view-site {
	width: calc(100vw - var(--description_width));
}

body.tablet .view-site {
	width: calc(100vw - var(--nav-menu_width));
}

body.desktop .view-site {
	width: calc(100vw - var(--nav-menu_width));
}

body.about .view-site {
	width: calc(100vw - var(--nav-menu_width));
}

.device-switcher {
	align-items    : center;
	display        : flex;
	gap            : 8%;
	height         : 62rem;
	justify-content: center;
	top            : 86rem;
	left           : 50%;
	position       : absolute;
	transform      : translateX(-50%);
	width          : 350rem;
}

.device-switcher__item {
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : contain;
	display            : none;
	flex               : 0 0 auto;
	height             : 100%;
	opacity            : 0.7;
	transition         : transform 0.3s;
	width              : 100rem;
}

.device-switcher__item:hover {
	opacity  : 1;
	transform: scale(1.2);
}

.device-switcher__item_phone {
	background-image: url(../img/phone-small.svg);
	width           : 14%;
}

.device-switcher__item_tablet {
	background-image: url(../img/tablet-small.svg);
	width           : 31%;
}

.device-switcher__item_desktop {
	background-image: url(../img/desktop-small.svg);
	width           : 36%;
}

.selected-device {
	height   : 100vh;
	left     : 50%;
	top      : 50%;
	transform: translate(-50%, -50%);
	position : absolute;
	z-index  : -1;
}

.site-on-device {
	background-position: center;
	background-repeat  : no-repeat;
	background-size    : contain;
	position           : relative;
}

.site-on-device iframe {
	visibility: hidden;
	position  : absolute;
}

/* styles for devices */
.site-on-device_phone {
	background-image: url(../img/phone.svg);
	height          : 607rem;
	left            : 50%;
	transform       : translateX(-50%);
	top             : 25%;
	width           : 355rem;
}

.site-on-device_phone iframe {
	height   : 480rem;
	left     : 50%;
	transform: translateX(-50%);
	position : absolute;
	top      : 5.4%;
	width    : 320rem;
}

.site-on-device_tablet {
	background-image: url(../img/tablet.svg);
	height          : 835rem;
	left            : 50%;
	top             : 15%;
	transform       : translateX(-50%) scale(0.8);
	width           : 1209rem;
}

.site-on-device_tablet iframe {
	height   : 768rem;
	left     : 3.1%;
	top      : 50%;
	transform: translateY(-50%);
	position : absolute;
	width    : 1024rem;
}

.site-on-device_desktop {
	background-image: url(../img/desktop.svg);
	height          : 1164rem;
	left            : 50%;
	top             : 2%;
	transform       : translateX(-50%) scale(0.6);
	width           : 1971rem;
}

.site-on-device_desktop iframe {
	height   : 1024rem;
	top      : 2.4%;
	left     : 50%;
	transform: translateX(-50%);
	position : absolute;
	width    : 1920rem;
}

/* /styles for devices */

.contacts {
	align-items    : center;
	display        : flex;
	flex-direction : column;
	height         : 100%;
	justify-content: space-evenly;
	visibility     : hidden;
	width          : 100%;
}

.contacts::before {
	background-color: #F6F6F3;
	top             : -10%;
	left            : -10%;
}

body.about .contacts {
	visibility: visible;
}

.socialnet {
	display        : flex;
	gap            : 8%;
	height         : 70rem;
	justify-content: space-between;
	width          : 400rem;
}

.socialnet__item {
	background-repeat  : no-repeat;
	background-position: center;
	background-size    : contain;
	height             : 100%;
	width              : 25%;
}

.socialnet__item_vk {
	background-image: url(../img/vkontakte-icon_color.svg);
}

.socialnet__item_ig {
	background-image: url(../img/instagram-icon_color.png);
}

.socialnet__item_telegram {
	background-image: url(../img/telegram-icon_color.svg);
}

.contacts__photo {
	border-radius: 20rem;
	background   : url(../img/photo_dt.jpg) center/contain no-repeat;
	height       : 500rem;
	width        : 500rem;
}

@media (max-width: 1600px) {
	html {
		font-size: 0.8px;
	}
}

@media (max-width: 1279px) {
	.available-view {
		display: block;
	}

	.nav-menu,
	.description,
	.view-site {
		display: none;
	}
}